<!-- проверить, вошел ли пользователь в систему. Если да, на целевой странице отобразится его -->
<!-- адрес электронной почты и ссылка для выхода из приложения. Если пользователь не вошел в систему, -->
<!-- на целевой странице будет отображаться ссылка для перехода на страницу входа -->

<% if user_signed_in? %>
 <div> Добро пожаловать, <%= current_user.email %> </div>
  <%= button_to "Выйти", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Войти", new_user_session_path %>
<% end %>

<h1>Наши котики</h1>
