<h1>Rk#input</h1>
<h3>Третьякова Ксения Михайловна, ИУ6-34Б, 6 вариант (по списку 22)</h3>
<p>Задание. Дан массив чисел arr_l. Определить среднее арифметическое значение положительных элементов массива и поместить его на место срединного элемента массива. </p>
<p> В случае нечетного количества элементов массива срединным элементом выбирается тот, который больше половины. </p>
<%= form_tag("/rk/view", :method => "get") do %>
    <%= label_tag("Введите массив через пробел") %>
    <%= text_field_tag(:val, ' 1 2 3 4 5 6') %>
    <br/>
    <%= submit_tag("Вычислить") %>
<% end %>

