<h1>Rk#view</h1>
<h3>Результат вычисления</h3>

<span>Массив до изменений: </span> <%= @before %> <br/>
<span>Массив после изменений: </span> <%= @after %>

</br>
<%= link_to "Повторить вычисления", :rk_input %>
