  .card-container {
    perspective: 1000px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .card {
    width: 300px; /* Ширина карточки */
    height: 400px; /* Высота карточки */
    transform-style: preserve-3d;
    transition: transform 0.5s;
    text-align: center;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px; /* Ширина карточки */
    height: 400px; /* Высота карточки */
  }
  
  .is-flipped {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 300px; /* Ширина карточки */
    height: 400px; /* Высота карточки */
    backface-visibility: hidden;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    width: 300px; /* Ширина карточки */
    height: 400px; /* Высота карточки */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(233, 142, 245); /* Исходный цвет границы */
  }

  .favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: red; /* Цвет сердечка */
  }
  